<section class="">
  <header class="text-center flex flex-col gap-4 mb-4">
    <h1 class="text-2xl text-black font-bold">Antonio Nogues Gómez 2º DAW</h1>
    <h3 class="text-xl text-black font-bold">Desarrollo web en entorno cliente - Ejercicios UT4 Arrays y Funciones</h3>
  </header>

  <main class="flex flex-row gap-4 ">
    <a class="my-3 ring-none items-center justify-center hover:opacity-95 disabled:opacity-50 rounded-lg py-2 px-4 font-dm focus:outline-none !ring-transparent text-black border border-black border-b-black border-b-4 hover:border active:border bg-white hover:text-black hover:bg-gray-50 active:bg-gray-100  focus-visible:outline-black-500 focus-visible:ring-black-700 text-sm sm:text-base "
       href="/ejercicio1">
      <span class="font-black">Ir al ejercicio 1</span>
    </a>

    <a class="my-3 ring-none items-center justify-center hover:opacity-95 disabled:opacity-50 rounded-lg py-2 px-4 font-dm focus:outline-none !ring-transparent text-black border border-black border-b-black border-b-4 hover:border active:border bg-white hover:text-black hover:bg-gray-50 active:bg-gray-100  focus-visible:outline-black-500 focus-visible:ring-black-700 text-sm sm:text-base "
       href="/ejercicio2">
      <span class="font-black">Ir al ejercicio 2</span>
    </a>

    <a class="my-3 ring-none items-center justify-center hover:opacity-95 disabled:opacity-50 rounded-lg py-2 px-4 font-dm focus:outline-none !ring-transparent text-black border border-black border-b-black border-b-4 hover:border active:border bg-white hover:text-black hover:bg-gray-50 active:bg-gray-100  focus-visible:outline-black-500 focus-visible:ring-black-700 text-sm sm:text-base "
       href="/ejercicio3">
      <span class="font-black">Ir al ejercicio 3</span>
    </a>

    <a class="my-3 ring-none items-center justify-center hover:opacity-95 disabled:opacity-50 rounded-lg py-2 px-4 font-dm focus:outline-none !ring-transparent text-black border border-black border-b-black border-b-4 hover:border active:border bg-white hover:text-black hover:bg-gray-50 active:bg-gray-100  focus-visible:outline-black-500 focus-visible:ring-black-700 text-sm sm:text-base "
       href="/ejercicio4">
      <span class="font-black">Ir al ejercicio 4</span>
    </a>

    <a class="my-3 ring-none items-center justify-center hover:opacity-95 disabled:opacity-50 rounded-lg py-2 px-4 font-dm focus:outline-none !ring-transparent text-black border border-black border-b-black border-b-4 hover:border active:border bg-white hover:text-black hover:bg-gray-50 active:bg-gray-100  focus-visible:outline-black-500 focus-visible:ring-black-700 text-sm sm:text-base "
       href="/ejercicio5">
      <span class="font-black">Ir al ejercicio 5</span>
    </a>



  </main>

</section>
